@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 60px;
    background: url("../img/pinstripe.png");
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.container-fluid {
    padding: 25px;
}

header {
    background: rgba(0,0,0,0.7);
    height: 380px;
    color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panel {
    padding-top: 5px;
    padding-bottom: 25px;
}

.panel-content {
    padding: 15px;
    background: rgba(50,80,80,0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
    height: 205px;
    padding-top: 40px;
    font-family: 'Gloria Hallelujah', cursive;
}

.info-field {
    padding-left: 10px;
}